@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

* {
  @apply border-border;
}

:root.light body {
  @apply bg-slate-50 text-slate-900;
}
